<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" side="right">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/shaggy.jpg" alt="Image" id="shagy">
  <ion-text>
    Esta imagen esta basada en un meme, el cuál muestra el que pasaría si shaggy usaría el 1% de su verdadero poder, por lo cuál, como se ve en la imagen, es capaz de derrotar a Goku con el Ultra instinto :v.
  </ion-text>
</ion-content>
